.login_btn{
    color:#000;
    font-size:16px;
    font-weight:600;
    border:none;
    background-color: transparent;
    padding-right:20px;
}
.login_btn:hover{
    color:tomato;
}
.sign_btn{
    color:#fff;
    font-size:16px;
    font-weight:600;
    background:#000;
    padding:5px 12px;
    height:40px;
    border: none;
    outline: none;
}
.Location_img{
    width: 16px;
}
.Location_btn{
    display: flex;
    align-items: center;
    gap:3px;
    font-size: 15px !important;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
.Location_btn:hover{
    background-color: #e6e6f0;
}
.Food_btn{
    margin: 0px !important;
    padding: 10px 20px;
    background-color: #fc8019;
    border: none;
    outline: none;
    color: #ffff;
    font-weight: 600;
}

