@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');
.feature-data{
    width:350px;
    text-align: center;
    margin:2px 80px;
}
.feature-heading{
    color:white;
    padding-top:24px;
    font-size:1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight:650;
}
.feature-desc p{
    width:300px;
    color:#e0cbc1;
    padding:27px 10px;
    font-size:1rem;
    line-height: 1.3;
    font-weight:200;
    font-family: 'Roboto', sans-serif;
}

