.footer-body {
  width: 100%;
  height: 54rem;
  padding-top: 5%;
  background-color: black;
}

.company-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag-body {
  color: white;
  font-size: 2.3em;
}

.tag-body h3 {
  color: gray;
  font-size: .9rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.tag-body ul {
  list-style: none;
  width: 15.5rem;
}

.tag-body ul li {
  font-size: 45.5%;
  padding: .6rem 0;
}

.tag-li {
  font-weight: 400;
}

.tag-li:hover {
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.link:hover {
  font-weight: 700;
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20%;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-btn .btn-container {
  width: 90%;
  height: 17%;
  padding-top: .08rem;
  text-align: center;
  border-radius: 10px;
}

.footer-btn .btn-container:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.footer-btn .btn-container img {
  width: 99%;
}

.footer-citySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-citySection h3 {
  color: gray;
  font-size: .9rem;
  font-weight: 700;
  padding-bottom: 1.4rem;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 5%;
}

.footer-bottom_logo-container {
  width: 25%;
}

.footer-bottom_logo-container img {
  width: 55%;
}

.footer-bottom h3 {
  width: 42%;
  text-align: center;
  color: white;
  font-weight: 400;
  padding-right: 8rem;
  font-size: 118%;
}

.footer-bottom .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17%;
  height: 10%;
}

.footer-bottom .social-links a {
  width: auto;
  padding: 0;
  width: 13%;
  text-align: right;
}

.footer-bottom .social-links a img {
  width: 100%;
}

@media (max-width: 1200px) {
  .footer-body {
    height: auto;
    padding-bottom: 2.5rem;
  }
  .location-cover {
    margin-bottom: 4rem;
  }
  .location-cover input {
    font-size: 0.85rem;
  }
  .footer-bottom h3 {
    font-size: 100%;
    padding-right: 4rem;
  }
  .company-tags {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 33.6rem;
  }
  .footer-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 108%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 24%;
  }
  .footer-btn .btn-container {
    width: 65%;
  }
  .footer-btn .btn-container img {
    width: 72%;
  }
}

@media (max-width: 930px) {
  .company-tags {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 41.6rem;
  }
  .footer-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 37%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 20%;
  }
  .footer-btn .btn-container {
    width: 65%;
  }
  .footer-btn .btn-container img {
    width: 92%;
  }
}

@media (max-width: 593px) {
  .footer-body {
    padding-top: 4.3rem;
  }
  .company-tags {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    height: 43rem;
  }
  .footer-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 9%;
  }
  .footer-btn a {
    width: 100%;
  }
  .footer-bottom h3 {
    font-size: 80%;
    padding-right: 0.6rem;
  }
  .footer-bottom_logo-container img {
    width: 83%;
  }
  .footer-bottom .social-links {
    width: 27%;
  }
  .tag-body ul {
    width: 11.5rem;
  }
}
/*# sourceMappingURL=footer.css.map */